%% -*- erlang -*-
%% Configuration file for included erlang applications.
[

{bert,[
       {auth,[
	      {client,[
		       {id,<<"a00000002=1000">>},
		       {keys,{<<0,0,0,0,0,0,0,2>>,<<0,0,0,0,0,0,0,1>>}},
		       {mod,bert_challenge}
		      ]}
	     ]},
       {reuse_mode,client}
      ]},

{exoport, [
	   {exodm_address, {"localhost", 9900}},
	   {bert_port, 9990},
	   {access,
	    [
	     {redirect, [{{exoio,'get-sample',1}, {exoio_adc,get_sample,1}},
			 {{exoio,read,1}, {exoio_gpio,read,1}}]},
	     %% {redirect, [{Mf,Ft,Af},{Mt,Ft,At}]}
	     %% {accept, M,F,A}
	     %% {accept, M}
	     %% {reject, M,F,A}
	     %% {reject, M}
	     {reject, erlang},  %% no calls to erlang module accepted
	     {accept, exoio_adc,  get_sample,1},
	     {accept, exoio_gpio, read, 1},
	     {accept, exoio_gpio, write, 1},
	     {accept, exoio_gpio, mode, 1}
	    ]}
	  ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},

 {lager, [
	  {handlers, [
		      {lager_console_backend, debug},
		      {lager_file_backend,
		       [
			{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", info, 10485760, "$D0", 5}
		       ]}
		     ]}
	 ]},
{kvdb,
     [{databases,
          [{kvdb_conf,
               [{file,"db/kvdb_conf"},
                {backend,sqlite3},
                {tables,[data]},
                {encoding,{raw,term,term}},
                {schema,kvdb_schema_events}]},
           {fifo,
               [{file,"db/fifo.db"},
                {backend,sqlite3},
                {type,fifo},
                {encoding,sext}]}]}]},
 {exoiodev, [
	     %% example map io pins

	    ]}

].


  
